<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android" 
        xmlns:cdv="http://cordova.apache.org/ns/1.0"
        id          = "ru.zaim7app.app"
        versionCode = "10"
        version     = "1.4.0">

    <name>Займы под 0%</name>

    <description>
        zaim.7app.ru
    </description>

    <author>Tadapp</author>

    <preference name='phonegap-version' value='cli-9.0.0' />

    <plugin name='cordova-plugin-splashscreen' />
    <plugin name='cordova-plugin-inappbrowser' />

    <gap:plugin name='onesignal-cordova-plugin' spec='2.4.5' source='npm' />

    <preference name='android-build-tool' value='gradle' />
    <preference name="android-targetSdkVersion" value="29" />
    <preference name='orientation' value='portrait' />

    <preference name='windows-appx-target' value='8.1-phone' />
    <preference name='WindowsToastCapable' value='true' />

    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="SplashScreenSpinnerColor" value="#FFDC52" />
    
    <platform name="android">
      <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
          <application android:usesCleartextTraffic="true" />
      </edit-config>
    </platform>


    <platform name="android">
        <icon src="res/android/icon/b7740a66104812da77c0fc45a182c2c8.png" density="ldpi" />
        <icon src="res/android/icon/3d094a2c0def127dd384c05931a7a2df.png" density="mdpi" />
        <icon src="res/android/icon/2c31fee1406388ec4fad7aaf61b8b39d.png" density="hdpi" />
        <icon src="res/android/icon/636a9ea130c999a72d579bc75bec8b92.png" density="xhdpi" />
        <icon src="res/android/icon/8b4c6541aa413fcf767f359cbd8a588f.png" density="xxhdpi" />
        <icon src="res/android/icon/f8bdd3d1dc0330d8c4980933b1004136.png" density="xxxhdpi" />

        <splash src="res/android/screen/c425aff0a57d468e47e88409e482124d.png" density="port-hdpi"/>
        <splash src="res/android/screen/ee6b25f9fd39783f6a442fc292af70ec.png" density="port-ldpi"/>
        <splash src="res/android/screen/03468680b9b7a2616052d97e8f8f7e21.png" density="port-mdpi"/>
        <splash src="res/android/screen/fcc17ffcb89b3c5527112f1adb896d2d.png" density="port-xhdpi"/>
    </platform>

    <platform name="ios">
        <icon src="res/ios/icon/15d146d065270700c6a83ad4417ff722.png" width="180" height="180" />
        <icon src="res/ios/icon/7a1b91925db2e84b03bddcfa7e484554.png" width="60" height="60" />
        <icon src="res/ios/icon/29080d1f1729ae4c11764ee36f020617.png" width="120" height="120" />
        <icon src="res/ios/icon/45cd88eaf6c26efe113c0d9bb022ec79.png" width="76" height="76" />
        <icon src="res/ios/icon/c258407cc8f6afb75afea17dfea7300a.png" width="152" height="152" />
        <icon src="res/ios/icon/47304733c912053fd5c03bc0361ae3b2.png" width="57" height="57" />
        <icon src="res/ios/icon/60252ebf5f5123269860e52746e33aec.png" width="114" height="114" />
        <icon src="res/ios/icon/7966ab57dffea815aad2cd661cc10998.png" width="72" height="72" />
        <icon src="res/ios/icon/cc2040c26822216e2345e557c48e50f7.png" width="144" height="144" />
        <icon src="res/ios/icon/70428edc8f2093172057702f0d74ce71.png" width="167" height="167" />
        <icon src="res/ios/icon/50d985b3bfe590ef2ba5a15dfb848a93.png" width="29" height="29" />
        <icon src="res/ios/icon/d8db057631d4a8bbf032d50983748984.png" width="58" height="58" />
        <icon src="res/ios/icon/160ab9b79f8c9f3b97876fca94aba7c7.png" width="87" height="87" />
        <icon src="res/ios/icon/c37edc1ade09491b5da99246192d54fb.png" width="167" height="167" />

        <splash src="res/ios/screen/14d7c114f381bc16474e3bc64cc0126f.png" />
        <splash src="res/ios/screen/274350c26f31146252402592b5f2c982.png" />
        <splash src="res/ios/screen/12d64a21fba825cdf3ebeaaf13228c30.png" />
        <splash src="res/ios/screen/7a3d4754d9277de60dfd66bba7e95028.png" />
        <splash src="res/ios/screen/ca59280ce76ee7529a6fd997fad62865.png" />
        <splash src="res/ios/screen/f27012d3e631544cf35b3e9a10ec9f32.png" />
    </platform>

    <platform name="winphone">
        <icon src="res/windows/icon/740086766b43d3dd280257b5d47fac02.png" target="StoreLogo" />
        <icon src="res/windows/icon/fc44bcb9c28db89e36e4ba53754fd734.png" target="Square30x30Logo" />
        <icon src="res/windows/icon/c5b30857789754aedcba44af67b812c9.png" target="Square44x44Logo" />
        <icon src="res/windows/icon/9f3b30e1014eec226e573db3f6fedd96.png" target="Square70x70Logo" />
        <icon src="res/windows/icon/60d30d11b9309e5758977beae052ec35.png" target="Square71x71Logo" />
        <icon src="res/windows/icon/1a0cccc08442015540ff994b177b1f96.png" target="Square150x150Logo" />
        <icon src="res/windows/icon/a2a73eaa5df9dc9b64f232ccfd46974f.png" target="Square310x310Logo" />

        <splash src="res/windows/screen/81e5edf3d8ec5ea3146891ca72f1e62e.png" target="SplashScreen"/>
        <splash src="res/windows/screen/4548e8e3c0ff94e69f37ca8630c13064.png" target="SplashScreenPhone"/>
    </platform>

    <access origin='*'/>
    <plugin name='cordova-plugin-whitelist' />
    <allow-intent href='http://*/*'/>
    <allow-intent href='https://*/*'/>
    <allow-intent href='tel:*'/>
    <allow-intent href='sms:*'/>
    <allow-intent href='mailto:*'/>
    <allow-intent href='geo:*'/>

</widget>